*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    background: #2b304a;
}
h1,h2,h3,h4,h5,h5{
    font-weight: 700;
}
h1{
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
p{
    font-size: 16px;
}
.container {
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    width: 50%;
}
.input_area{
    margin-bottom: 25px;
}
.input_area input {
    height: 40px;
    width: 325px;
    border: 2px solid #920030;
    border-radius: 5px;
    color: #2b304a;
    font-size: 16px;
}
.input_area button {
    width: 100px;
    height: 40px;
    font-size: 17px;
    color: #ffffff;
    background: #54072f;
    border: none;
}
.item {
    display: flex;
    align-items: center;
    background: #228c7b;
    justify-content: space-between;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
}
.item li {
    flex-grow: 1;
    text-align: left;
    list-style: none;
    transition: .5s;
}
ul.task_list button {
    height: 40px;
    font-size: 18px;
    margin: 0 8px;
    width: 43px;
    background: #54072f;
    border-radius: 5px;
    color: #fff;
}
ul.task_list button i{
    pointer-events: none;
}
.completed_task{
    background: #203239;
    padding: 10px 15px;
}